
<-------------- Colors ------------------>

section {
  border: 1px solid black;

}

#artc-1 {
  background-color: red;
  font-family: ;
  font-size: ;
  color: ;
  line-height: ;
  padding: ;
  border: ;
  border-radius: ;
}

#artc-2 {
  background-color: orange;
  font-family: ;
  font-size: ;
  color: ;
  line-height: ;
  padding: ;
  border: ;
  border-radius: ;
}

#artc-3 {
  background-color: yellow;
  font-family: ;
  font-size: ;
  color: ;
  line-height: ;
  padding: ;
  border: ;
  border-radius: ;
}

#artc-4 {
  background-color: lightgreen;
  font-family: ;
  font-size: ;
  color: ;
  line-height: ;
  padding: ;
  border: ;
  border-radius: ;
}

#artc-5 {
  background-color: lightblue;
  font-family: ;
  font-size: ;
  color: ;
  line-height: ;
  padding: ;
  border: ;
  border-radius: ;
}
